---
aboutSection:
  content: >-
    **Turbo Power Semiconductors** helps electric vehicle manufacturers get more
    performance out of their batteries at about one-third the cost of the
    current solution. Our Silicon-based solution has the performance of Silicon
    Carbide at a much lower cost.


    With its innovative, patent-pending **TurboIGBT technology**, Turbo Power
    Semiconductors is strategically focused on advancing IGBT technology to meet
    the growing demands of this dynamic sector.
  callout: With our TurboIGBT, Tesla could save about $1,300 per car.
---
