---
layout: default
aboutSection:
  content:
    - "**Turbo Power Semiconductors** helps electric vehicle manufacturers get
      more performance out of their batteries at about one-third the cost of the
      current solution. Our Silicon-based solution has the performance of
      Silicon Carbide at a much lower cost."
    - With its innovative, patent-pending **TurboIGBT technology**, Turbo Power
      Semiconductors is strategically focused on advancing IGBT technology to
      meet the growing demands of this dynamic sector.
  callout: With our TurboIGBT, Tesla could save about $1,300 per car.
founderSection:
  title: Founder and President
  name: Alex Huang
  description: Has been working on power semiconductors and power electronics for
    more than 40 years. Most in academic R&D settings. Inventors of many power
    chip concepts. First IGBT in China etc.
  image: /images/uploads/alex.png
contactSection:
  email: contact@turbopowersemi.com
---
{% from "components/button.njk" import button %}
{% from "components/section.njk" import pod,
leftColumn,
rightColumn,
fullColumn %}

{% call pod(podColor="bg-green-900 text-yellow-100", podSize="lg", id="hero") %}
{% call fullColumn() %}
<p class="text-green-400">{{ global.siteTitle }}</p>
<h1 class="text-2xl">{{ global.siteDescription }}</h1>
{% endcall %}
{% endcall %}

{% call pod(podColor = "", podSize = "base", id = "about") %}
{% call leftColumn() %}
<div class="text-lg prose">{{aboutSection.content | markdownify | safe }}</div>
{# <p class="text-lg">
    <b class="text-green-600 font-medium">Turbo Power Semiconductors</b> helps electric vehicle manufacturers get more performance out of their batteries at about one-third the cost of the current solution. Our Silicon-based solution has the performance of Silicon Carbide at a much lower cost.</p>
<p class="text-lg">With its innovative, patent-pending <b class="text-green-600 font-medium">TurboIGBT technology</b>, Turbo Power Semiconductors is strategically focused on advancing IGBT technology to meet the growing demands of this dynamic sector.</p> #}
{% endcall %}
{% call pod(podColor="bg-green-400", podSize="sm", class="items-end") %}
{% call fullColumn() %}
<div class="text-green-600 w-min scale-[6] top-20 absolute -rotate-90 hidden lg:block">{% include "assets/logo.svg" %}</div>

<p class="text-xl align">{{ aboutSection.callout }}</p>
{% endcall %}
{% endcall %}
{% endcall %}

{% call pod(podColor="bg-green-200", id="founder") %}
{% call leftColumn() %}
<img class="rounded-base" src="{{ founderSection.image }}" alt="">
{% endcall %}
{% call rightColumn() %}
<h2 class="text-base opacity-70">{{ founderSection.title }}</h2>
<h3 class="text-xl">{{ founderSection.name }}</h3>
<p class="text-base">{{ founderSection.description }}</p>
{% endcall %}
{% endcall %}

{% call pod(podColor="bg-green-900 text-yellow-100", id="contact") %}
{% call fullColumn(class="items-center text-center overflow-hidden") %}
<p class="opacity-80">For more info send us a message at</p>
<p class="text-xl break-all">{{ contactSection.email }}</p>

{% set contactHref = "mailto:" + contactSection.email %}
{{ button(label="Contact us", type="color", href=contactHref) }}
{% endcall %}
{% endcall %}

{% call pod(podColor = "", podSize = "none") %}
{% call fullColumn() %}
<small class="text-center text-xs opacity-70">Copyright Turbo Power Semiconductors Inc. 2025</small>
{% endcall %}
{% endcall %}
