---
layout: default
aboutSection:
  content:
    - "**Turbo Power Semiconductors** helps electric vehicle manufacturers get
      more performance out of their batteries at about one-third the cost of the
      current solution. Our Silicon-based solution has the performance of
      Silicon Carbide at a much lower cost."
    - With its innovative, patent-pending **TurboIGBT technology**, Turbo Power
      Semiconductors is strategically focused on advancing IGBT technology to
      meet the growing demands of this dynamic sector.
  callout: With our TurboIGBT, Tesla could save about $1,300 per car.
founderSection:
  title: Founder and President
  name: Alex Huang
  description: Has been working on power semiconductors and power electronics for
    more than 40 years. Most in academic R&D settings. Inventors of many power
    chip concepts. First IGBT in China etc.
  image: /images/uploads/alex.png
contactSection:
  email: contact@turbopowersemi.com
---
{% from "components/button.njk" import button %}
{% from "components/pod.njk" import pod, column %}
{% from "components/prose.njk" import prose %}
{% from "components/copyToClipboard.njk" import copyToClipboard %}

{# banner section #}
{% call pod({podColor:"bg-green-900 text-yellow-100", podSize:"lg"}, {id:"hero"}) %}
    {% call column() %}
        <p class="text-green-400">{{ global.siteTitle }}</p>
        <h1 class="text-2xl">{{ global.siteDescription }}</h1>
    {% endcall %}
{% endcall %}

{# about section #}
{% call pod({podColor:"", podSize:"base"}, {id:"about"}) %}
    {% call column() %}
        {% for item in aboutSection.content %}
            {% call prose() %}
                {{ item | markdownify | safe }}
            {% endcall %}
        {% endfor %}
    {% endcall %}
    {% call pod({podColor:"bg-green-400", podSize:"sm"}, {class:"items-end"}) %}
        {% call column() %}
            <div class="text-green-600 w-min scale-[6] top-20 absolute -rotate-90 hidden lg:block">{% include "assets/logo.svg" %}</div>
            <p class="text-xl align">{{ aboutSection.callout }}</p>
        {% endcall %}
    {% endcall %}
{% endcall %}

{# founder section #}
{% call pod({podColor:"bg-green-200", podSize:"base"}, {id:"founder"}) %}
    {% call column() %}
        <img class="rounded-base" src="{{ founderSection.image }}" alt="">
    {% endcall %}
    {% call column() %}
        <h2 class="text-base opacity-70">{{ founderSection.title }}</h2>
        <h3 class="text-xl">{{ founderSection.name }}</h3>
        <p class="text-base">{{ founderSection.description }}</p>
    {% endcall %}
{% endcall %}

{# contact section #}
{% call pod({podColor:"bg-green-900 text-yellow-100", podSize:"base"}, {id:"contact"}) %}
    {% call column({class:"items-center text-center overflow-hidden"}) %}
        <p class="opacity-80">For more info send us a message at</p>
        {% call copyToClipboard({
            input: contactSection.email,
            toastMessage: "Email copied to clipboard!"
        }) %}
                {{ button({label:contactSection.email}, {"@click":"copy", class:"text-xl text-inherit p-0! break-all cursor-pointer hover:underline"}) }}
            {# <button @click="copy" class="text-xl break-all cursor-pointer hover:underline">{{ contactSection.email }}</button> #}
        {% endcall %}
        {% set contactHref = "mailto:" + contactSection.email %}
        {{ button({label:"Contact us", type:"color", href:contactHref}) }}
    {% endcall %}
{% endcall %}

{% call pod({podSize:"none"}) %}
    {% call column() %}
        <small class="text-center text-xs opacity-70">Copyright Turbo Power Semiconductors Inc. 2025</small>
    {% endcall %}
{% endcall %}
