{% from "components/button.njk" import button %}

<header class="p-global-gap flex gap-global-gap relative">
    <div class="text-green-600 h-full">{% include "assets/logo.svg" %}</div>
    <nav class="hidden lg:flex gap-global-gap flex-1">
        {{ button(label="About", href="#about", class="flex-grow") }}
        {{ button(label="Founder", href="#founder", class="flex-grow") }}
        {{ button(label="Contact", href="#contact", class="flex-grow") }}
    </nav>
    <div class="flex flex-grow lg:hidden"
        x-data="{
            open: false,
            onClick() {
                this.open = !this.open;
                this.label = this.open ? 'Close menu' : 'Menu'
            },
            label:'Menu'
        }">
        {{ button(class="flex-grow", attrs={"@click": "onClick()", dynamicLabel: true}) }}
        <nav @click="open = onClick" class="flex-col gap-global-gap absolute left-0 w-full z-10 bg-gray-100 px-global-gap pb-global-gap top-full" :class="open ? 'flex' : 'hidden'">
            {{ button(label="About", href="#about", class="flex-grow") }}
            {{ button(label="Founder", href="#founder", class="flex-grow") }}
            {{ button(label="Contact", href="#contact", class="flex-grow") }}
        </nav>
    </div>
</header>
