{% macro pod(podColor = "", podSize = "base", class = "", id = "") %}
    <div
        id="{{id}}"
        data-id="pod"
        style="--spacing-pod-block: var(--pod-block-{{podSize}})"
        class="flex flex-1/2 flex-col overflow-hidden relative lg:flex-row scroll-my-global-gap  gap-pod-gap rounded-lg {{ podColor }} {{ class }}">
        {{ caller() | safe }}
    </div>
{% endmacro %}

{% macro column(class) %}
    <div
        data-id="column"
        class="col-span-full justify-center flex-1/2 flex flex-col gap-content-gap px-pod-inline first:pt-pod-block last:pb-pod-block lg:py-pod-block lg:max-w-none mx-auto {{ class }}">
        {{ caller() | safe }}
    </div>
{% endmacro %}
