{#
    Toaster

    @param id = "" // optional suffix to be appended on the default id; ex: toasterdialog
#}

{% macro toaster(props = {
    id: ""
}) %}
    <div id="toaster{{props.id}}" class="fixed top-global-gap left-global-gap right-global-gap flex justify-center pointer-events-none"></div>
{% endmacro %}


{#
    Toast

    @param toasterId = "" // optional suffix to where the toast should be teleported
    @param message = "" // What the toast should say
#}

{% macro toast(props = {
    toasterId: "",
    message: ""
}) %}
    <template x-teleport="#toaster{{props.toasterId}}">
        <div
            x-show="copied"
            x-transition:enter-start="opacity-0 -translate-y-2"
            x-transition:leave-end="opacity-0 -translate-y-2"
            class="delay-100 transition bg-green-900 text-yellow-100 shadow-lg rounded-base py-6 px-6">
            {{ props.message }}
        </div>
    </template>
{% endmacro %}
